<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Médiathèque</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if (user) { %>
            <li class="nav-item">
              <span class="navbar-text">Bonjour, <%= user.username %>!</span>
            </li>
            <% if (user.isAdmin) { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/documents">Gestion des documents</a>
              </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/documents">Documents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Déconnexion</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Inscription</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
</nav>